#background {
  width: 100%;
  height: 100%;

  background-image: url('../img/patio.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  overflow: hidden;
}

#nav {
  width: 35%;
  position: absolute;
  z-index: 1;
  left: 20;
  top: 20;

  font-family: 'Merriweather', serif;
  color: #ffe54c;

  padding: 20px;
  background-color: #c68400cc;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
}

#nav h1 {
  font-size: 4rem;
}

#nav a {
  width: fit-content;
  display: block;
  margin: 12px 0;

  text-decoration: none;
  font-size: 2rem;

  transition-property: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  cursor: pointer;
}

#nav a:hover {
  text-decoration: underline;
  color: white;
}

#content {
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 0;

  overflow-y: scroll;
}
